.feed{
			margin-left: 100px;
			margin-right: 100px;
			margin-top: 50px;
			min-height: 1000px;
		}
		.feed h5{
			border: 1px solid black;
			padding: 10px;
		}
		.titly{
			margin-left: 100px;
			background-image: url();
		}
.morequotes{
		border: 1px solid black;
			padding: 10px;
		}
}